* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

:root {
	--background: #fc427b;
	--color-white: #f1f2f6;
	--color-dark: #3b3b98;
	--color-deep-dark: #182c61;
	--font-big: 6em;
	--font-small: 1.5em;
}

body,
html {
	width: 100%;
	height: 100%;
	color: var(--color-white);
	font-family: "VT323", monospace;
	scroll-behavior: smooth;
}

header {
	width: 100%;
	display: flex;
	justify-content: right;
	padding: 5px;
	background-color: var(--color-deep-dark);
}

header img {
	width: 40px;
	float: right;
	cursor: pointer;
}

li {
	padding: 5px;
	line-height: 1.5em;
	margin-left: 10px;
}

#menu {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 50px;
	font-size: var(--font-small);
	display: none;
	background-color: var(--color-deep-dark);
	animation: slideMenu 500ms;
}

@keyframes slideMenu {
	0% {
		top: 200px;
	}

	100% {
		top: 50px;
	}
}

a {
	color: var(--color-white);
	
}
a:hover{
	animation: lights 300ms infinite alternate-reverse;
}

.containerOne {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--background);
}

#arrow-down {
	width: 50px;
	position: absolute;
	bottom: 10px;
	display: flex;
	justify-content: center;
	z-index: 5;
	animation: zoom 2s alternate infinite;
	cursor: pointer;
}

@keyframes zoom {
	to {
		transform: scale(1);
	}

	from {
		transform: scale(1.1);
	}
}

.containerTime {
	text-align: center;
	margin-top: 4em;
}

#time {
	font-size: var(--font-big);
}

button {
	background-color: var(--color-dark);
	color: var(--color-white);
	padding: 10px;
	margin: 20px;
	width: 8em;
	height: 5em;
	border: none;
	border-radius: 10px;
	font-size: 1em;
	box-shadow: 5px 5px 2px var(--color-deep-dark);
	font-style: italic;
}

button:active {
	transform: scale(0.95);
	box-shadow: 5px 5px 2px transparent;
}

button:hover {
	animation: lights 200ms infinite alternate-reverse;
	font-weight: 600;
}

@keyframes lights {
	0% {
		color: red;
	}

	50% {
		color: rgb(255, 165, 86);
	}

	100% {
		color: aqua;
	}
}

.containerTwo {
	background-image: url(./backgrounds/Confetti-Doodles.svg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 2em;
	position: relative;
}

.informations {
	width: 200px;
	height: 250px;
	line-height: 1.2em;
	font-size: var(--font-small);
	font-family: monospace;
	letter-spacing: 1px;
	margin: 1.1em;
	padding: 10px;
	flex: 1 1 auto;
	background-color: var(--color-white);
	color: var(--color-deep-dark);
	box-shadow: 10px 7px 2px var(--color-deep-dark);
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.informations:hover {
	transform: scale(1.1);
	transition: 200ms;
	box-shadow: none;
	animation: lights 300ms infinite alternate-reverse;
}

footer {
	font-size: var(--font-small);
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	color: var(--background);
	background-color: var(--color-deep-dark);
}